<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang="pt-br"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BusuTBM</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'leads/styles/tailwind.min.css' %}"/>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'leads/images/django.svg' %}">
        <link rel="stylesheet" href="{% static 'leads/styles/normalize.min.css' %}">
        <link rel="stylesheet" href="{% static 'leads/styles/iziModal.min.css' %}"/>

    </head>
    <body>
        <div id="fundo" class="z-0">
        {% include "navbar.html" %}
        {% block content %}
        {% endblock content %}
        </div>
        {% include "footer.html" %}
        {% include "script.html" %}
    </body>
</html>