{% block content %}
<section id="s5">
  <footer class="z-41 block text-gray-600 body-font bg-gray-200 py-4">
    <div class="container px-5 py-1 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        
        <svg xmlns="http://www.w3.org/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" class="w-10 h-10 text-white p-2 bg-blue-600 rounded-full" viewBox="2 6 20 5">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="trigger-large2 ml-3 text-xl">Dudu</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 Duduzinho
      </p>
      <p></p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a class="trigger-large2 text-gray-500" href="">
         <p class="text-lg font-semibold">| Contato</p>
        </a>
      </span>
    </div>
  </footer>
  </section>
  <script>
  function funcao1()
  {
  alert("im.the.unix@gmail.com");
  }
  </script>

{% endblock %}